<div class="container">
	<h1>Check out the latest articles</h1>

	<% @articles.each do |article| %>

		<div>
			<div>
				<h3><%= link_to article.title, article_path(article.id) %></h3> 
			</div>
			<h4>Written By: <%= article.author %></h4>
			<p><%= article.content %></p> 
			
			<%= button_to "Delete", article, method: :delete %>
<!--       <%= button_to "Get Metrics", article, method: :get %> -->

			<br>
		</div>

	<% end %>	

  <br>
</div>