<!-- Containter -->
<div class="container">
	<div>
	    <h3>Title: <%= @article.title %> <br></h3>
	    <h4>Author: <%=  @article.author %> <br></h4>
	    <p>Content: <%= @article.content %> </p>
	</div>
  <%= link_to "EDIT ARTICLE", edit_article_path( @article) %>

  <div>
    <% @keywordResults %>
    <h3>Keyword Analysis</h3>
  </div>

  <div>
    <% @keywordResults.each do |keyword| %>
    <h5 class="keyword">Keyword : <%= keyword["text"] %></h5>
    <h5 class="relevance">Relevance: <%= keyword["relevance"] %></h5>
    <% end %>
  </div>
</div>

